*:root {
    font-family: monteagro, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    background: #26a3c215;
}

header {
    display: flex;
    justify-content: left;
    font-size: 35px;
    margin: 15px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: black;
    font-weight: 200;
}

.albuns td {
    font-family: 'Poppins', sans-serif;
    width: 5px;
    padding: 30px;
}

.albuns img {
    width: 300px;
}

.albuns a {
    list-style: none;
    text-decoration: none;
}

.albuns a img {
    width: 30px;
    padding: 5px;
    padding-left: 17px;
}

.footer {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #26a3c215;
    justify-content: center;
}

.footer img , li {
    height: auto;
    width: 150px;
    list-style: none;
    text-decoration: none;
}