*:root {
    font-family: monteagro, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    background: #26a3c215;
}

header {
    display: flex;
    justify-content: left;
    font-size: 35px;
    margin: 15px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: black;
    font-weight: 200;
}

.albuns {
    padding: 50px 50px 50px 15px;
}

.albuns h3 {
    font-family: 'Poppins', sans-serif;
    width: 10px;
    float: right;
    padding: 0;
    margin: 0;
}

.albuns a , li {
    text-decoration: none;
    list-style: none;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.albuns img {
    width: 250px;
    padding: 10px;
    margin: 0px 10px 10px 0;
    justify-content: center;
    float: left;
}

.albuns a img {
    width: 30px;
    display: inline;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 5px;
    justify-content: center;
}

.footer {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    background: #f1eebf;
}

.footer #copyright {
    width: 150px;
    height: auto;
    list-style: none;
}