*:root {
    font-family: monteagro, sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background: #f1eebf96;
}

nav {
    background:  #26a3c215;
 }
 
.navigation {
    max-width: fit-content;
    list-style: none;
    text-decoration: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    justify-content:flex-start;
 }
 
 .navigation a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: black;
 }
 
 .navigation a:hover {
    background: #f9f9eb3a;
    text-decoration: wavy;
 }

 .navigation img {
    width: 150px;
}
header h2 {
    margin: 45px; 
    padding: 0;
    font-size: 40px;
    color: black;
    font-weight: 200;
}

.albuns td {
    font-family: 'Poppins', sans-serif;
    width: 5px;
    padding: 50px;
}

.albuns img {
    width: 300px;
    height: auto;
}

.albuns a {
    list-style: none;
    text-decoration: none;
}

.albuns a img {
    width: 30px;
    height: auto;
    padding: 5px;
    padding-left: 17px;
}
