*:root{
    font-family: monteagro, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    background-color: rgb(255, 252, 246);
}

h1 {
    font-size: 55px;
    color: black;
    font-weight: 200;
    padding-bottom: 40px;
}

header {
    display: grid;
    justify-content: center;
    font-size: 35px;
    padding-top: 100px;
    margin: auto;
    background-color: rgba(241, 184, 110, 0.76);
}

header img {
    width: 90px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: #f1eebf96;
    margin: 0;
 }
 
 .navigation {
    font-size: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
 }

 .navigation a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: black;
 }
 
 .navigation a:hover {
    background: #f9f9eb49;
    text-decoration: wavy;
 }

.social-media li {
    width: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    margin: 10px 0px 20px -15px;
}

article {
    padding: 50px;
    font-size: 20px;
    font-family: 'Peddana', serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.albuns td {
    font-family: 'Poppins', sans-serif;
    width: 5px;
    padding: 50px;
}

.albuns img {
    width: 300px;
    height: auto;
}

.albuns a {
    list-style: none;
    text-decoration: none;
}

.albuns a img {
    width: 30px;
    height: auto;
    padding: 5px;
    padding-left: 17px;
}


footer {
    padding: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}

footer img.copyright{
    width: 180px;
}
