*:root{
    font-family: monteagro, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    display: block;
}

h1 {
    font-size: 55px;
    color: aliceblue;
    padding-bottom: 100px;
}

header {
    display: grid;
    justify-content: center;
    font-size: 35px;
    padding-top: 100px;
    margin: auto;
    background-image: url(/assets/BannerBackground.jpg);
}

header img {
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

main h2, h3 {
    padding: 50px;
    font-size: 20px;
    font-family: 'Peddana', serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    padding: 50px;
    display: grid;
}

footer img.logo {
    width: 70px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
}

footer img.copyright{
    width: 200px;
    margin: auto;
    padding: 20px;
}

footer a, img {
    width: 50px;
    height: auto;
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

