*:root{
    font-family: monteagro, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    display: block;
    background-color: rgb(255, 252, 246);
}

h1 {
    font-size: 55px;
    color: aliceblue;
    padding-bottom: 100px;
}

header {
    display: grid;
    justify-content: center;
    font-size: 35px;
    padding-top: 100px;
    margin: auto;
    background-image: url(/assets/BannerBackground.jpg);
}

header img {
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

aside img {
    width: 300px;
    margin-top: auto;
    margin-right: 10px;
    display: grid;
}

main h2, h3 {
    padding: 50px;
    font-size: 20px;
    font-family: 'Peddana', serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    padding: 50px;
}

footer a, img {
    width: 45px;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

footer img.copyright{
    width: 200px;
    padding: 20px;
    display: grid;
}



